@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: disko_ot;
    src: url(../fonts/disko_ot.otf);
}
@font-face {
    font-family: RicksAmericanNF;
    src: url(../fonts/RicksAmericanNF.ttf);
}


@font-face {
    font-family: RicksAmericanNFO;
    src: url(../fonts/RicksAmericanNF.otf);
}
