@import "./fonts.css";
@import "./apps/email/email.css";

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}



/* USER - MSG */
.user-msg {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
}



/* ROUTES */

.router-link-exact-active {
    color: rgb(19, 20, 19)
}

.success{
    background-color: rgb(71, 138, 71);
}

.error{
    background-color: rgb(124, 55, 55);
}




