@import "./fonts.css";
@import "./apps/email/email.css";

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}



/* USER - MSG */
.user-msg {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
}



/* ROUTES */

.router-link-exact-active {
    color: rgb(19, 20, 19)
}

.success{
    background-color: rgb(71, 138, 71);
}

.error{
    background-color: rgb(124, 55, 55);
}



@media (max-width: 740px){
    body{
        width: 100%;
        padding:0;
        margin:0;
    }
    .email-app{
        flex-direction: column;
        padding:5px;   
        width: 100%;
    }
    .email-filter{
        width: 100%;
        display:flex;
  
    }
    .criteria-container{
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .filter-container{
        justify-content: flex-start;
        width:100%
    }
    .list-container, .actions{
        padding:0;
    }
    .grid {
        display: grid;
        grid-template-columns: 15px 10px 12px auto;
        grid-auto-rows: auto;
        gap: 10px;
    }
    .preview-txt{
        display:flex;
        justify-content: space-around;
        margin-left: 5px;
    }
    .preview-txt>*{
        margin-right: 5px;
    }
    .composed-sub, .composed-to{
        width: 200px;
    }
    .composed-btn{
        width:100px;
    }
    .home-page{
        font-size:25px;
    }
    /* .menu-btn{
        display:flex
    } */
    /* nav{
        display:flex;
        flex-direction: column;
        background-color: rgb(196, 189, 189); 
        justify-content: center;
        align-items: center;

        position: absolute;
        top:2vh;
        right: 6%;
        z-index:999;
        height: 50%;
        width: 150px;
    } */
}

