
@import "css/app-email.css";
@import "css/app-header.css";
@import "css/email-list.css";
@import "css/email-preview.css";
@import "css/home-page.css";


.app-main {
    background-color: lightblue;
    min-height: 90vh;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(204, 196, 201);;
}
