
@import "css/app-email.css";
@import "css/app-header.css";
@import "css/email-list.css";
@import "css/email-preview.css";
@import "css/home-page.css";
@import "css/email-filter.css";
@import "css/email-compose.css";
@import "css/email-details.css";


.app-main {
    background-color: lightblue;
    min-height: 90vh;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(204, 184, 196);;
    
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 450;
    line-height: 1.3;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
