
*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.app-main {
    background-color: lightblue;
    min-height: 90vh;
}


/* USER - MSG */
.user-msg {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
}

/* HEADER */

.app-header{
    background-color: rgb(202, 187, 145);
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ROUTES */

.router-link-exact-active {
    color: green
}

.success{
    background-color: rgb(71, 138, 71);
}

.error{
    background-color: rgb(124, 55, 55);
}

.home{
    background-image: url('../../../img/images2.jpg');
    background-size:cover;
    font-size:40px;
    display:flex ;
    justify-content: center;
}